<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>{% block title %}{% endblock %} - T-Bone</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <!-- navbar -->
    <div class="masthead">
        <h3 class="text-muted">{{ full_name }}</h3>
        <ul class="nav nav-justified">
            <li><a href="/print">Print Model</a></li>
            <li><a href="/move">Manual Move</a></li>
            <li><a href="/config">Configuration</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
    {% block content %}
    {% endblock %}

</div>

<div id="footer">
    <div class="container">
        <p class="text-muted">

        <div class="col-md-8">{{ full_name }}, Status: {{ print_status }}</div>
        </p>
        <div class="col-md-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ queue_percentage }}%"
                     aria-valuenow="{{ queue_length }}" aria-valuemin="0"
                     aria-valuemax="{{ max_queue_length }}"><span class="sr-only">Queue Status: {{ queue_percentage }}% full</span></div>
            </div>
        </div>
        </p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/t-bone.js"></script>
</body>
</html>